/* main css design */
.ui_user_info_layer {
  border: solid 1px;
  border-color: rgba(102, 153, 255, 1);
  width: 400px;
  height: 100px;
  position: fixed;
  top: 20px;
  left: 30px;
}

.ui_minimap_layer {
  border: solid 1px;
  border-color: rgba(102, 153, 255, 1);
  width: 250px;
  height: 250px;
  position: fixed;
  bottom: 20px;
  right: 30px;
}

.ui_menu_layer {
  border: solid 1px;
  border-color: rgba(102, 153, 255, 1);
  cursor:pointer;
  width: 400px;
  height: 25px;
  position: fixed;
  bottom: 20px;
  left: 30px;
}

.menu_btn {
  text-align: center;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: rgba(102, 153, 255, .7);
  border: 0;

}

#main_layer {
/*  background-image: url('../img/space_galaxy.jpg');*/
/*  background-size: cover; */
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 1024px;
}
/*
#minimap_canvas {
  position: relative;
  background-color : rgba(102, 153, 102, .5);
  border: solid 1px;
  border-color: rgba(102, 153, 255, 1);
}
*/
