/* Main page designed by css */
#header {
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  padding: 5px;
}

#contents {

}

#footer {

}

.connUserTable {

}

.inputBtn {
  text-align: center;
}
