/**
	*File-name: index.css
	*Writer: luxoss
	*Date: 07/06/2016
*/	
body {
  background-color: rgb(0, 32, 64);
}

input {
  width: 290px;
  height: 30px;
  margin: 0px;
  padding: 0px;
  border: 1px solid rgb(255, 255, 255);
}

.input_btn {
	
}

#login_btn {
  color: rgb(255, 255, 0);
  font-weight: bold;
  background-color: rgb(0, 64, 128);
}

#join_btn {
  color: rgb(255, 255, 0);
  font-weight: bold;
  background-color: rgb(0, 64, 128);  
}

#main_container {
  background-color: rgb(0, 0, 0);
  width: 450px;
  margin: 0px auto;
  padding: 1px;
}

#header {
/*  background-image: url('../res/img/title_img.png');*/
  background-color: rgb(0, 0, 0);
  width: 450px;
  height: 150px;
  position: relative;
  float: none;
  margin: 1px;
  padding: 0px;
  border-bottom: 2px solid rgb(102, 97, 0);
  /*border: 1px solid rgb(255, 255, 255);*/
}

#inner_container {
/*  background-image: url('../res/img/main_img.png');*/
  background-color: rgb(0, 0, 0);
  width: 58.59375%; /* 가변 그리드 공식 적용:  target(element width) ÷ context(parent element width) = result */
  height: 720px;
  float: left;
  margin: 1px;
  padding: 1px;
  border: 0px;
}

#user_info {
  background-color: rgb(0, 0, 0);
  width: 40.77725%;
  height: 720px;
  float: right;
  margin: 1px;
  padding: 1px;
  border: 0px;
}

#footer {
/*  background-image: url('../res/img/footer_img.png'); */
  background-color: rgb(0, 0, 0);
  width: 450px;
  height: 50px;
  position: relative;
  float: none;
  clear: both;
  margin: 1px;
  padding: 1px;
  border-top: 2px solid rgb(102, 97, 0);
}
