/**
	*File-name: index.css
	*Writer: luxoss
	*Modified date: 07/06/2016
*/	
body {
  background-color: rgb(0, 32, 64);
}

input {
  width: 290px;
  height: 30px;
  margin: 0px;
  padding: 0px;
  border: 1px solid rgb(255, 255, 255);
}

.input_text {
  color: rgb(255, 255, 0);
  position: relative;
  font-weight: bold;
  background-color: rgb(23, 25, 25);
}	

.input_btn {
  color: rgb(255, 255, 0);
  position: relative;
  font-weight: bold;
  background-color: rgb(0, 64, 128);
}

#main_container {
  background-color: rgb(0, 0, 0);
  width: 450px;
  margin: 0px auto;
  padding: 1px;
  border-radius: 5px;
}

#header {
/*  background-image: url('../res/img/title_img.png');*/
  background-color: rgb(0, 0, 0);
  font-size: 24pt;
  color: rgb(255, 255, 255);
  width: 450px;
  height: 150px;
  text-align: center;
  position: relative;
  float: none;
  margin: 1px;
  padding: 0px;
  border-bottom: 2px solid rgb(102, 97, 0);
}

#user_info {
  background-color: rgb(0, 0, 0);
  width: 448px;
  margin: 1px;
  padding: 1px;
  border: 0px;
}

#footer {
/*  background-image: url('../res/img/footer_img.png'); */
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  width: 448px;
  height: 50px;
  text-align: center;
  position: relative;
  float: none;
  clear: both;
  margin: 1px;
  padding: 1px;
  border-top: 2px solid rgb(102, 97, 0);
}

/*
#inner_container {
  background-image: url('../res/img/main_img.png');
  background-color: rgb(0, 0, 0);
  width: 58.59375%;  가변 그리드 공식 적용:  target(element width) ÷ context(parent element width) = result
  position: relative;
  margin: 0px auto;
  padding: 1px;
  border: 0px;
}
*/
