/**
	**File-name: main.css
	**Writer: luxoss
	**File-explanation: Decorate main html page with cascading style sheet
*/
body {
	background-color: rgb(0, 0, 0);
	overflow: hidden; 
}

.user_info_ui {
  	background-color: rgba(102, 153, 255, 0.7);
  	border: 1px solid rgb(0, 0, 0);
  	width: 400px;
  	height: 102px;
  	position: fixed;
  	top: 20px;
  	left: 30px;
	border-radius: 10px;
}

#user_avatar {
	background-image: url('../res/img/astronaut.png');
	background-color: rgba(255, 128, 255, 0.7);
	width: 100px;
	height: 100px;
	float: left;
	border: 1px solid yellow;
	border-radius: 10px 0px 0px 10px;
}

#user_name {
	background-color: rgba(255, 128, 255, 0.7);
	width: 100px;
	height: 20px;
	position: absolute;	
	bottom: 0px;
	font-weight: bold;
	text-align: center;
	border-radius: 0px 0px 0px 10px;
}

#hp_progress_bar {
	background-color: rgba(204, 51, 51, 1);
	width: 295px;
	height: 35px;
	float:left;
	border: 1px solid rgb(255, 128, 0);
	border-radius: 0px 10px 10px 0px;
}

#sp_progress_bar {
	background-color: rgba(0, 0, 255, 0.7);
	width: 295px;
	height: 35px;
	float: left;
	border: 1px solid rgb(0, 128, 255);;
	border-radius: 0px 10px 10px 0px;
}

#exp_stats {
	background-color: rgba(255, 255, 255, 0.7);
	width: 295px;
	height: 25px;
	float: left;
	border: 1px solid white;
	border-radius: 0px 10px 10px 0px;
}


.minimap_ui {
  	background-color: rgba(102, 153, 255, 0.7);
  	border: 1px solid;
  	border-color: rgba(102, 153, 255, 1);
  	width: 250px;
  	height: 250px;
  	position: fixed;
  	bottom: 20px;
  	right: 30px;
	border-radius: 50em;
}

.menu_buttons_ui {
/*  	
	background-color: rgba(102, 153, 255, 0.7);
  	border: 2px solid;
  	border-color: rgba(102, 153, 255, 1);
*/
	position: fixed;
  	width: 230px;
  	height: 50px;
  	bottom: 20px;
  	left: 30px;
}

#logout_btn {
  	background-image: url('../res/img/button_design0.png');
  	width: 50px;
  	height: 50px;
	border: 1px solid yellow;
  	border-radius: 50em;
	-webkit-transition: all 0.3s ease-in-out;
 	-moz-transition: all 0.3s ease-in-out; 
  	-o-transition: all 0.3s ease-in-out; 
  	-ms-transition: all 0.3s ease-in-out; 
  	transition: all 0.3s ease-in-out; 
}

#logout_btn:hover { 
	-webkit-transform: rotate(360deg); 
	-moz-transform: rotate(360deg); 
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}

#planet_btn {
  	background-image: url('../res/img/button_design1.png');
  	width: 50px;
  	height: 50px;
	border: 1px solid yellow;
	border-radius: 50em;
	-webkit-transition: all 0.3s ease-in-out;
 	-moz-transition: all 0.3s ease-in-out; 
  	-o-transition: all 0.3s ease-in-out; 
  	-ms-transition: all 0.3s ease-in-out; 
  	transition: all 0.3s ease-in-out; 
}

#planet_btn:hover { 
	-webkit-transform: rotate(360deg); 
	-moz-transform: rotate(360deg); 
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}

#battle_ship_btn {
  	background-image: url('../res/img/button_design2.png');
  	/*opacity: 0.7;*/
  	width: 50px;
  	height: 50px;
	border: 1px solid yellow;
	border-radius: 50em;
	-webkit-transition: all 0.3s ease-in-out;
 	-moz-transition: all 0.3s ease-in-out; 
  	-o-transition: all 0.3s ease-in-out; 
  	-ms-transition: all 0.3s ease-in-out; 
  	transition: all 0.3s ease-in-out; 
}

#battle_ship_btn:hover { 
	-webkit-transform: rotate(360deg); 
	-moz-transform: rotate(360deg); 
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}

#rank_btn {
 	background-image: url('../res/img/button_design3.png');
  	width: 50px;
	height: 50px;
	border: 1px solid yellow;
	border-radius: 50em;
	-webkit-transition: all 0.3s ease-in-out;
 	-moz-transition: all 0.3s ease-in-out; 
  	-o-transition: all 0.3s ease-in-out; 
  	-ms-transition: all 0.3s ease-in-out; 
  	transition: all 0.3s ease-in-out; 
}

#rank_btn:hover { 
	-webkit-transform: rotate(360deg); 
	-moz-transform: rotate(360deg); 
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}


.planet_ui {
	background-color: rgba(255, 255, 255, 0.5);
	width: 900px;
	height: 700px;
	position: fixed;
/*	margin: 0 auto;*/
	display: none;
	overflow-y: scroll;
	box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 9999px, rgba(0, 0, 0, 0.5) 2px 2px 3px 3px;
	z-index: 100;
}

#planet_img {
	background-color: rgb(255, 0, 0);
	width: 100px;
	height: 100px;
	position: absolute;
	left: 0px;
}

#planet_name {
	background-color: rgb(0, 255, 0);
	width: 300px;
	height: 100px;
	position: absolute;
	left: 100px;
}

#planet_resource {
	background-color: rgb(0, 0, 255);
	width: 400px;
	height: 100px;
	position: absolute;
	right: 100px;
}

#planet_grade {
	background-color: rgb(255, 255, 0);
	width: 100px;
	height: 100px;
	position: absolute;
	right: 0px;
}

.battle_ship_ui {
	background-color: rgba(255, 255, 255, 0.5);
	width: 1500px;
	height: 500px;
	box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 9999px, rgba(0, 0, 0, 0.5) 2px 2px 3px 3px;
	z-index: 100;
	display: none;
	position: fixed;
}

#battle_ship_info_display {
	background-color: rgba(255, 255, 255, 0.5);
	width: 900px;
	height: 500px;
	float: left;
}

#battle_ship_item_slot {
	background-color: rgba(255, 255, 255, 0.5); 
	width: 600px;
	height: 500px;
	float: right;
}

#battle_ship_state_img {
	width: 600px;
	height: 300px;
	background-color: rgb(0, 255, 0);
	top: 100px;
	left: 150px;
	position: absolute;
}

#cube01_slot {
	width: 150px;
	height: 150px;
	background-color: rgb(0, 0, 255);
	top: 0px;
	left: 0px;
	position: absolute;
}

#cube02_slot {
	width: 150px;
	height: 150px;
	background-color: rgb(0, 0, 255);
	background-image: url('http://203.237.179.21:8000/res/img/cube1.png');
	top: 0px;
	right: 600px;
	position: absolute;
}

#cube03_slot {
	width: 150px;
	height: 150px;
	background-color: rgb(0, 0, 255);
	bottom: 0px;
	position: absolute;
}

#cube04_slot {
	width: 150px;
	height: 150px;
	background-color: rgb(0, 0, 255);
	right: 600px;
	bottom: 0px;
	position: absolute;
}

/*
// I thinnk that user got by misile and cube information 
#misile01_slot {
	width: 100px;
	height: 100px;
	background-color: rgb(0, 0, 255);
}

#misile02_slot {
	width: 100px;
	height: 100px;
	background-color: rgb(0, 0, 255);
}

#misile03_slot {
	width: 100px;
	height: 100px;
	background-color: rgb(0, 0, 255);
}

#misile04_slot {
	width: 100px;
	height: 100px;
	background-color: rgb(0, 0, 255);
}
*/
.rank_ui { 
	background-color: rgba(255, 255, 255, 0.5);
	width: 500px;
	height: 600px;
	position: fixed;
/*	margin: 0 auto;*/
	display: none;
	overflow-y: scroll;
	box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 9999px, rgba(0, 0, 0, 0.5) 2px 2px 3px 3px;
	z-index: 100;
}

#user_ranking {
	background-color: rgb(255, 0, 0);
	width: 100px;
	height: 100px;
	position: absolute;
	left: 0px;
}

#user_id {
	background-color: rgb(0, 255, 0);
	width: 200px;
	height: 100px;
	position: absolute;
	left: 100px;
}

#user_planet_number {
	background-color: rgb(0, 0, 255);
	width: 200px;
	height: 100px;
	position: absolute;
	right: 0px;
}

#background {
	width: 2048px;
	height: 1024px;
	border: 1px solid yellow;
}

#main_layer {
	background-image: url('http://203.237.179.21:8000/res/img/space_tile1.png');
  	width:  5000px; /* body-width / 4 */
  	height: 5000px; /* body-height / 4 */
	position: relative;
}
/*
#user_layer {
	width: 1000px;
	height: 1000px;
	position: relative;
	border: 1px solid white;
}
*/
#user_obj {
	width: 100px;
	height: 200px;
	position: fixed;
}

#battle_ship {
	background-image: url('http://203.237.179.21:8000/res/img/space_ship.png');
	width: 100px;
	height: 100px;
	position: absolute;
}

#planet {
	background-image: url('http://203.237.179.21:8000/res/img/planet/planet_0.png');
	width: 100px;
	height: 100px;
}


